@model rungreenlake.Models.ViewModels.RaceRecordViewModel

@{
    ViewData["Title"] = "CreatePersonal";
}

<h1>Enter New Personal Race Time</h1>

<h4></h4>
<hr />
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-action="CreatePersonal">
    <div class="form-group row">
        <div class="col-sm-2"><label>Race Type:</label></div>
        <div class="col-sm-4">
            <select asp-for="RaceType" asp-items="@Model.RaceTypeList">
                <option>Select Race Type</option>
            </select>
        </div>
        <div class="col-sm-6">
            <span asp-validation-for="RaceType" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"><label>Hours</label></div>
        <div class="col-sm-4">
            <input asp-for="RaceTimeHours" class="form-control" />
        </div>
        <div class="col-sm-6">
            <span asp-validation-for="RaceTimeHours" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"><label>Minutes</label></div>
        <div class="col-sm-4">
            <input asp-for="RaceTimeMinutes" class="form-control" />
        </div>
        <div class="col-sm-6">
            <span asp-validation-for="RaceTimeMinutes" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"><label>Seconds</label></div>
        <div class="col-sm-4">
            <input asp-for="RaceTimeSeconds" class="form-control" />
        </div>
        <div class="col-sm-6">
            <span asp-validation-for="RaceTimeSeconds" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group offset-sm-2">
        <input type="submit" value="CreatePersonal" class="btn btn-primary" />
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
