@{
    ViewData["Title"] = "Race Time Delete Successful";
}

<h2>Time entry succesfully deleted.</h2>

<div>
    <a asp-action="Index" asp-controller="Profiles" asp-route-show="myracerecords">Back to Personal Race Times</a>
</div>